*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}
a{
    text-decoration: none;
}
/* START header */
.headerTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}
.headerTopLogo{
    font-size: 32px;
    font-weight: bold;
}
.headerTop nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.headerTop nav a{
    display: block;
    color:#444;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}
.headerTop nav a.active{
    color:#39a28f;
}
.headerPhoto{
    background: url('../../upload/tmp.jpg') center center no-repeat fixed;
    background-size: cover;
    height: 250px;
    position: relative;
}
.headerPhoto:before{
    content: '';
    background: rgba(29, 119, 107, 0.7);
    position: absolute;
    top:0; bottom:0;
    left:0; right:0;
    z-index: 1;
}
.headerPhoto h1{
    position: absolute;
    top:0; bottom:0;
    left:0; right:0;
    z-index: 2;
    font-size: 42px;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* END header */
/* START main */
main{
    min-height: 60vh;
}
    .container{
        width: 1000px;
        max-width: 98%;
        padding: 10px 1%;
        margin: 0 auto;
    }
    
    h3{
        font-size: 32px;
        color:#444;
        margin: 17px 0;
        padding: 3px 20px;
        border-left: 15px solid #39a28f;
    }
/* END main */
/* START blog */
    .blogList, .blogListHome{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .oneBlog{ 
        flex: 1 0 30%;
        margin: 1%;
        display: block;
    }
    .blogList .oneBlog{
        flex: 1 0 48%;
    }
    .oneBlogPhoto{
        height: 200px;
        background-position: center center;
        background-size: cover;
        position: relative;
        transition: all 2.5s ease;
        filter: grayscale(90%);
    }
    .oneBlogPhoto:hover{
        filter: grayscale(0%);
    }
    .blogList .oneBlog .oneBlogPhoto{
        height: 300px;
    }
    .oneBlogTitle{
        text-align: center;
        padding: 5px 0;
        color:#444;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .oneBlogDetails{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
    .oneBlogDetails time{
        color:#444;
        font-size: 16px;
    }
    .oneBlogDetails author{
        color:#39a28f;
        font-size: 16px;
    }
    .homeMoreBlogs{
        display: block;
        margin: 40px auto;
        background: #39a28f;
        font-size: 28px;
        font-weight: bold;
        padding: 10px 0;
        width: 340px;
        text-align: center;
        color:#fff;
    }
    
    .blogFinder{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width:98%;
        margin: 20px auto;
        width:600px;
    }
    .blogFinder [type="text"]{
        flex:2;
        padding: 10px;
        border: 1px solid #39a28f;
        border-right: 0px;
    }
    .blogFinder [type="submit"]{
        flex:1;
        padding: 10px;
        background: #39a28f;
        color:#fff;
        border: 1px solid #39a28f;
        border-left: 0px;
    }
    
    .bigBlog{
        
    }
    .bigBlog img{
        margin: 10px auto;
        max-width: 100%;
        display: block;
    }
    .bigBlogDesc{
        padding: 10px;
        text-align: justify;
        line-height: 1.8;
    }
    .bigBlogDetails{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        letter-spacing: 2px;
        padding: 20px;
        margin: 20px 0;
        border-top:1px solid #ccc;
    }
    .bigBlogDetails time{
        color:#444;
    }
    .bigBlogDetails author{
        color:#39a28f;
    }
    .bigBlogDetails a{
        color:#444;
        font-weight: bold;
    }
/* END blog */
/* START paginacja */
.paginacja{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    padding: 30px 0;
    border-top: 1px solid #ccc;
}
.paginacja a{
    padding: 5px 0;
    margin: 5px;
    background: #eee;
    color:#222;
    width: 30px;
    text-align: center;
    transition: all .5s ease;
}
.paginacja a:hover, .paginacja a.active{
    background: #39a28f;
    color:#fff;
}
/* END paginacja */
/* START footer */
footer{
    margin: 10px;
    border-top:1px solid #ccc;
    padding: 10px;
    text-align: center;
    color:#444;
    letter-spacing: 2px;
    font-size: 12px;
}
/* END footer */

/* START form */
.mainForm{
    
}
.mainForm input{
    padding: 10px 1%;;
    width:96%;
    margin: 10px auto;
    display: block;
}
.mainForm input[type="submit"]{
    background: #39a28f;
    color:#fff;
    border: 1px solid #39a28f;
    max-width: 300px;
    text-align: center;
}
.link{
    display: block;
    margin: 40px auto;
    color: #39a28f;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0;
    width: 340px;
    text-align: center;
}
/* END form */